 @font-face {
     font-family: "San Francisco";
     font-weight: 700;
     src: url('assets/SF PRO.woff');
 }

 body {
     font-family: "San Francisco", sans-serif;
     background-color: #f0f0f0;
     margin: 0px;
 }

 button {
     border: 0px;
     background-color: transparent;
 }

 .header {
     display: flex;
     justify-content: space-between;

     padding: 10px;

     text-shadow: 2px 2px white;
     border-bottom: 1px solid #f0f0f0;

     position: fixed;

     width: 100%;
     -webkit-backdrop-filter: blur(2px);
     backdrop-filter: blur(10px);



 }

 .sidenav {
     height: 100%;
     width: 250px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;

     background-color: #fff;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 10px;

 }

 .logo {
     margin-left: 30px;
     margin-right: auto;
 }




 .sidenav a {

     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 7px;
     padding: 8px 8px 8px 5px;
     text-decoration: none;
     font-size: 16px;
     color: black;
     display: block;
     white-space: nowrap;
     transition: 0.3s
 }

 .sidenav a::before {
     display: inline-block;
     padding-left: .75rem;
     position: absolute;

 }

 a.active {
     border-radius: 6px;
     background-color: #f0f0f0;
 }

 .sidenav a:hover,
 .offcanvas a:focus {
     border-radius: 6px;
     background-color: #f0f0f0;
 }

 .lnr {
     margin-right: 5px;
 }

 .content {


     padding: 80px 60px 20px 60px;

 }

 .cards {
     display: flex;
     justify-content: space-between;
     gap: 50px;
     margin-bottom: 30px;

 }


 .card {
     background-color: black;
     width: 400px;
     height: 200px;

     border-radius: 25px;
 }

 .tabels {
     display: grid;
     grid-gap: 50px;
     grid-template-columns: auto auto auto auto auto;
 }


 .tabel {

     height: 300px;

     border-radius: 25px;

     background: linear-gradient(180deg, rgba(255, 212, 212, 1) 0%, rgba(255, 255, 255, 1) 75%);
     line-height: 1mm;
 }



 .ControlButton:first-child {
     margin: 15px 0px 10px 15px;
     background-color: #cf4747;




 }

 .ControlButton:last-child {


     background-color: #838383;




 }

 .EditButton {

     background-color: #0a84ff;
     margin: 15px 0px 10px 7px;
     text-align: right;
     font-size: 16px;
     color: #f0f0f0;
     padding: 5px 5px 5px 10px;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: solid;




 }

 .EditButton:hover {
     background-color: rgb(8, 112, 216);
 }

 .ControlButton {

     margin: 15px 0px 10px 7px;
     text-align: right;
     font-size: 16px;

     color: #f0f0f0;
     padding: 5px 5px 5px 10px;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: solid;


 }

 .ControlButton:hover {

     color: #ffffff;
     background-color: rgba(0, 0, 0, 0.61);


 }


 .tabelLogo {
     margin-top: 40px;
     width: 200px;
     height: fit-content;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;


 }

 .tabel>p {

     margin-left: 15px;
 }

 .AddTabel {
     background-color: white;
     height: 290px;
     border-radius: 25px;
     display: flex;
     padding-top: 10px;
     justify-content: center;
     flex-direction: column;
     align-items: center;


 }

 .bigChart {
     grid-area: big;
     padding: 30px;
     height: 2000px;
     border-radius: 25px;
     background-color: #fff;
 }

 .smallChart {
     border-radius: 25px;
     grid-area: small;
     background-color: #fff;
 }

 .charts {
     gap: 30px;
     display: grid;
     grid-template-areas:
         'big big small ';
 }

 #main {
     transition: margin-left .5s;

     margin-left: 250px;
 }


 @media screen and (max-height: 450px) {
     .sidenav {
         width: vw;
         padding-top: 15px;
     }

     .sidenav a {
         font-size: 18px;
     }
 }






 input[type="checkbox"] {
     display: none;
 }

 input[type="checkbox"]:checked~.modal,
 input[type="checkbox"]:checked~.modal-background {
     display: block;
 }


 .modal-background {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     top: 0;
     left: 0;
     display: none;
     z-index: 9998;
     -webkit-backdrop-filter: blur(2px);
     backdrop-filter: blur(10px);
 }

 .modal {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     display: none;
     width: 606px;
     height: 528px;
     background-color: #fff;
     box-sizing: border-box;
     z-index: 9999;
     border-radius: 15px;
 }

 .modal>p {
     padding: 15px;
     margin: 0;
 }


 .modal-header {
     padding: 10px 10px 0px 10px;
     padding-left: 15px;

     color: #4d4d4d;
     font-size: 16px;
     border-bottom: #f0f0f0 1px solid;


 }

 .modal-header label {
     box-sizing: border-box;

     float: right;
     line-height: 50px;
     padding: 0 15px 0 15px;
     cursor: pointer;
 }


 .modal-content {
     line-height: 5lvh;

     padding: 30px;

 }

 .modal-content img {

     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .modal-content input[type="text"] {
     background-color: #f0f0f0;
     border: none;
     padding: 10px;
     border-radius: 7px;
     width: 520px;
     color: #acacac;
 }

 input:focus {
     outline: none;
 }

 .modal-footer {
     padding: 20px 60px 30px 60px;
     margin-top: 40px;
     border-top: #f0f0f0 1px solid;
     display: flex;
     justify-content: space-between;
 }


 .modal-footer button {
     font-size: 25px;
     cursor: pointer;
     color: #0a84ff;
     margin-right: 60px;


 }

 .modal-footer label {
     margin-left: 60px;
     font-size: 28px;
     cursor: pointer;
     color: #000000;


 }

 .addTabel-label {

     color: #f0f0f0;
     font-size: 105px;
     font-weight: bold;
     cursor: pointer;
 }

 input[type="checkbox"] {
     display: none;
 }

 input[type="checkbox"]:checked~.EditTabelmodal,
 input[type="checkbox"]:checked~.EditTabelmodal-background {
     display: block;
 }


 .EditTabelmodal-background {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     top: 0;
     left: 0;
     display: none;
     z-index: 9998;
     -webkit-backdrop-filter: blur(2px);
     backdrop-filter: blur(10px);
 }

 .EditTabelmodal {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     display: none;
     width: 606px;
     height: 606px;
     background-color: #fff;
     box-sizing: border-box;
     z-index: 9999;
     border-radius: 15px;
 }

 .EditTabelmodal>p {
     padding: 15px;
     margin: 0;
 }


 .EditTabelmodal-header {
     padding: 10px 10px 0px 10px;
     padding-left: 15px;

     color: #4d4d4d;
     font-size: 16px;
     border-bottom: #f0f0f0 1px solid;


 }

 .EditTabelmodal-header label {
     box-sizing: border-box;

     float: right;
     line-height: 50px;
     padding: 0 15px 0 15px;
     cursor: pointer;
 }


 .EditTabelmodal-content {
     line-height: 5lvh;

     padding: 30px;

 }

 .EditTabelmodal-content img {

     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .EditTabelmodal-content input[type="text"] {
     background-color: #f0f0f0;
     border: none;
     padding: 10px;
     border-radius: 7px;
     width: 520px;
     color: #acacac;
 }

 input:focus {
     outline: none;
 }

 .EditTabelmodal-footer {
     padding: 20px 60px 30px 60px;
     margin-top: 40px;
     border-top: #f0f0f0 1px solid;
     display: flex;
     justify-content: space-between;
 }


 .EditTabelmodal-footer button {
     font-size: 25px;
     cursor: pointer;
     color: #0a84ff;
     margin-right: 60px;


 }

 .EditTabelmodal-footer label {
     margin-top: 10px;
     margin-left: 60px;
     font-size: 28px;
     cursor: pointer;
     color: #000000;


 }